Youtube_Video_summarizer.json
{
  "name": "Youtube_Video_summarizer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ytube",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ed3cfb38-25cb-434e-ab1a-8e0769a041d7",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -704,
        -288
      ],
      "webhookId": "9024e29e-9080-4cf5-9a6b-0d918468f195",
      "typeVersion": 2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "36c6192c-f1c3-4609-b4cf-c2425841ca57",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        496,
        -160
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ee42e4c-3cee-4934-97e7-64c96b5691ed",
              "name": "youtubeUrl",
              "type": "string",
              "value": "=https://youtu.be/1vsmaEfbnoE?si=WTXUBcpTG7IwmlnQ"
            }
          ]
        },
        "options": {}
      },
      "id": "c5d1e124-7816-47b6-b405-54a9583222cb",
      "name": "Get YouTube URL",
      "type": "n8n-nodes-base.set",
      "position": [
        -512,
        -288
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const extractYoutubeId = (url) => {\n  const pattern = /(?:youtube\\.com\\/(?:[^\\/]+\\/.+\\/|(?:v|e(?:mbed)?)\\/|.*[?&]v=)|youtu\\.be\\/)([^\"&?\\/\\s]{11})/;\n  const match = url?.match(pattern);\n  return match ? match[1] : null;\n};\n\nreturn items.map(item => {\n  const youtubeUrl = item.json.youtubeUrl || item.json.url || item.json.body?.url;\n\n  if (!youtubeUrl || typeof youtubeUrl !== 'string') {\n    throw new Error('No valid YouTube URL provided');\n  }\n\n  const videoId = extractYoutubeId(youtubeUrl);\n  if (!videoId) {\n    throw new Error('Invalid YouTube URL format');\n  }\n\n  return {\n    json: {\n      videoId,\n    }\n  };\n});\n"
      },
      "id": "5cd87481-3b6d-465e-8230-67d90ca131c9",
      "name": "YouTube Video ID",
      "type": "n8n-nodes-base.code",
      "position": [
        -304,
        -288
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "get",
        "videoId": "={{ $json.videoId }}",
        "options": {}
      },
      "id": "e3e52512-3941-477c-aeac-50e8f30b3fa5",
      "name": "Get YouTube Video",
      "type": "n8n-nodes-base.youTube",
      "position": [
        -112,
        -288
      ],
      "typeVersion": 1,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "5d4LqiFdedmfYQfC",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=summaize youtube link what content will be present based on the title:{{ $json.snippet.channelId }}\n {{ $json.kind }}  {{ $json.snippet.publishedAt }}\n{{ $json.snippet.title }}"
      },
      "id": "0d889a87-d335-4b6d-a131-2e5dc830e23d",
      "name": "Summarize & Analyze Transcript",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -112,
        -32
      ],
      "typeVersion": 1.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf132004-6636-411f-9d85-0c696fda84c4",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.text }}"
            },
            {
              "id": "63c8d0e3-685c-488a-9b45-363cf52479ea",
              "name": "topics",
              "type": "array",
              "value": "=[]"
            },
            {
              "id": "171f30cf-34e9-42f3-8735-814024bfde0b",
              "name": "title",
              "type": "string",
              "value": "={{ $('Get YouTube Video').item.json.snippet.title }}"
            },
            {
              "id": "7f26f5a3-e695-49d1-b1e8-9260c31f1b3d",
              "name": "description",
              "type": "string",
              "value": "={{ $('Get YouTube Video').item.json.snippet.description }}"
            },
            {
              "id": "d0594232-cb39-453c-b015-3b039c098e1f",
              "name": "id",
              "type": "string",
              "value": "={{ $('Get YouTube Video').item.json.id }}"
            },
            {
              "id": "17b6ca08-ce89-4467-bd25-0d2d182f7a8b",
              "name": "youtubeUrl",
              "type": "string",
              "value": "={{ $('Webhook').item.json.body.youtubeUrl }}"
            }
          ]
        },
        "options": {}
      },
      "id": "56560e93-5e75-4b52-b803-d164f9c4ed78",
      "name": "Response Object",
      "type": "n8n-nodes-base.set",
      "position": [
        256,
        -32
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -192,
        176
      ],
      "id": "bc778e89-e1ac-4765-bce7-b5351d4c033e",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "0FBmtbYCLpyyXAkc",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get YouTube URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get YouTube URL": {
      "main": [
        [
          {
            "node": "YouTube Video ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Object": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Video ID": {
      "main": [
        [
          {
            "node": "Get YouTube Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize & Analyze Transcript": {
      "main": [
        [
          {
            "node": "Response Object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize & Analyze Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get YouTube Video": {
      "main": [
        [
          {
            "node": "Summarize & Analyze Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56e134c7-083a-4cac-ac3a-ef66a2640c71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a11a6da24f2a133902b01b1561bead6b050f3021b40a8adc5d8ae501544282a5"
  },
  "id": "ZkWmzdLKpipZbVRO",
  "tags": []
}